.modal-content {
	box-shadow: 0px 5px 20px rgba(36, 31, 89, 0.2);
	border-radius: 10px;

	.close {
		border-radius: 10px;
	}
}

.dropdown-menu {
	&.show {
		margin-top: 10px;
	}
}

.dropdown-toggle {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	&.hero__drop {
		background-color: transparent !important;
		outline: none;
		box-shadow: none;
		font-weight: 600;
	}
}
.pagination {
	justify-content: center;
	li {
		width: 33px;
		margin-left: 5px;

		&:first-child,
		&:last-child {
			display: none;
		}

		&.active {
			.page-link {
				background-color: #eb1846;
				border-color: #eb1846;
				opacity: 1;
			}
		}

		.page-link {
			border-radius: 100px;
			padding: 6px;
			background-color: #cccccc;
			color: white;
			border-color: #cccccc;
			opacity: 0.7;

			&:hover {
				opacity: 1;
			}
		}
	}
}

.input-group {
	&.email-context {
		&:before {
			content: '';
			position: absolute;
			width: 30px;
			height: 30px;
			left: 20px;
			top: 23px;
			background-image: url(./images/email_icon.png);
			background-repeat: no-repeat;
			z-index: 100;
		}
	}

	&.lock-context {
		&:before {
			content: '';
			position: absolute;
			width: 30px;
			height: 30px;
			left: 24px;
			top: 18px;
			background-image: url(./images/lock_icon.png);
			background-repeat: no-repeat;
			z-index: 100;
		}
	}
}
